
* {
  --color1: #606c38ff;
  --color2: #283618ff;
  --color3: #fefae0ff;
  --color4: #dda15eff;
  --color5: #bc6c25ff;
  
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color1);
}

/* .Gallery {
  height: 40vh;
} */

.App-link {
  color: #61dafb;
}


