.about-container {
display: flex;
flex-direction: column;
justify-content: center;
}
.about-box {
display: flex;
   flex-direction: row;
   justify-content: center;
   }
img {
   width:150px;
   height: 150px;

}
.summary {
    text-align: start;
    width: 300px;
    height: 150px;
    color: rgb(3, 96, 29);
   margin-left: 5%;
}

